body{
    margin:0 auto;
    background: rgb(128,45,253);
    background: linear-gradient(0deg, rgba(128,45,253,0.5970763305322129) 0%, rgba(99,34,195,1) 98%);
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 50px;
}

.header{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 1;
    border-bottom: 3px solid rgba(0, 0, 0, 0.8);
    background-color: #6322c3;
}

.form{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    height: 500px;
    background: rgb(253,187,45);
    background: linear-gradient(0deg, rgba(253,187,45,1) 2%, rgba(99,34,195,1) 70%);
    padding: 10px 0 0 0;
    border-radius: 10px;
}

.form label{
    text-align: right;
    font-family: Century gothic;
    font-size: large;
    color: rgb(255,255,255);
}

.form input{
    margin-left:40%;
    border: none;
    border-radius: 8px;
    width: 50%;
    height: 40px;
}


.form button{
    border-radius: 8px;
    width: 50%;
    height: 40px;
    font-size: x-large;
    border: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}